.footer__wrap {
    display: flex;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.footer__wrap-right {
    width: 500px;
    flex-shrink: 0;
    margin-right: 200px;
}

.footer__wrap-left {
    display: flex;
    width: 460px;
    flex-direction: column;
    margin-top: auto;
    margin-right: auto;
    flex-flow: column wrap;
}

.footer__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    list-style-type: none;
    text-decoration: none;
}

.footer__copy {
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.footer__item-link {
    text-decoration: none;
    color: #000000;
}

.footer_item-button {
    background-color: transparent;
    color: #037E8C;
    align-items: center;
    border: 1px transparent;
    cursor: pointer;
    display: block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;

}

.footer__contacts {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: 200px;
}

.footer__text-phone {
    padding-left: 50px;
    background-image: url("../images/telephone.svg");
    background-position: left center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    line-height: 40px;
}

.footer__text-mail {
    padding-left: 50px;
    background-image: url("../images/email.svg");
    background-position: left center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    line-height: 40px;
}

.footer__text-place {
    padding-left: 50px;
    background-image: url("../images/home.svg");
    background-position: top left;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    line-height: 40px;
}