.gallery__item {
    height: 300px;
    width: 300px;
    flex-shrink: 0;
}

.gallery__item:not(:last-child) {
    margin-right: 10px; 
}

.gallery__item:last-child {
    position: relative;
}

.gallery__item:hover {
    outline: 3px solid #037E8C;
}
  
.gallery__item:last-child::after {
    position: absolute;
    left: 100%;
    height: 1px;
    width: 20px;
    display: block;
    content: "";
}

.gallery__list {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    cursor: pointer;
    -ms-overflow-style: none;
}