.gallery__swiper {
    display: flex;
    justify-content: space-between; 
}

.gallery__item {
    min-width: 300px; 
    min-height: 400px;
    transition: 0.3s ease;
}

.gallery__list {
    align-items: center;
    width: 1500;
    display: flex;
    overflow: hidden;
    margin-top: 60px;
    justify-content: space-around;
    flex-grow: 2;
}

.gallery__button-left {
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: #ffffff;
    height: auto;
}

.gallery__button-right {
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: #ffffff;
    height: auto;
}
