@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .reviews__wrap {
        max-width: 100%;    
    }

    .booking {
        max-width: 100%;
    }

    .popup {
        margin-top: 0px;
    }

    .booking {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 1500px) {
    .scroll-up {
        right: 40px;
        width: 50px;
        height: 50px;
    }

    .popup {
        margin-top: 100px;
    }

    .booking {
        margin-top: 20px;
    }
}