.reviews {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items:center;

    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
}

.reviews__text {
    text-align: justify;
}

.reviews__user-name {
    font-weight: bold;
}

.reviews__user-location {
    font-style: italic;
}

.reviews__wrap {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.reviews__wrap:hover {
    box-shadow: 1px 2px 20px 5px  #037E8C;
    padding: 10px 20px;
}

.reviews__wrap-left {
    width: 300px;
    flex-shrink: 0;
    padding: 15px;
    object-fit: cover;
}

.reviews__wrap-right {
    gap: 10px;
    width: 60%;
    padding: 10px;
}

.feedback__wrap {
    background-size: cover;
    background-image: linear-gradient(180deg,rgba(210, 197, 197, 0.547),rgba(227, 216, 216, 0.656)),url("../images/forest1.jpg");
}

.feedback {
    background-color: transparent;
    border-radius: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 470px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left:50px;
}

.feedback__title {
    padding-top: 20px;
    padding-left: 50px;
}