/* Контейнер-обертка */
.container {
    max-width: 1440px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

/* Кнопки */
.button {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;

    background-color: #037E8C;
    color: #ffffff;

    border: 1px solid #037E8C;
    border-radius: 16px;
    padding: 12px 20px;

    min-height: 60px;
    cursor: pointer;

    transition: background-color 0.4s ease-out, color 0.4s ease-out;
    transition: text-decoration-color 0.3s;

    width: fit-content;
    margin: 0 auto;

    text-decoration-style: dashed;
    text-underline-offset: 8px;
}

.button:hover,
.button:focus {
    color: #037E8C;
    background-color: #ffffff;
}

/* Заголовки */
.logo {
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: #ffffff;
    padding: 10px 20px;
}

/* Формы */
.form__field {
    border: .5px solid #037E8C;
    border-radius: 8px;
    width: 350px;
    height: 46px;
    padding-left: 50px;
    padding-right: 30px;
    font-size: 16px;
    color: #000000;
}

.form__desc {
    padding: 10px;
}

.booking__wrap,
.popup__wrap {
    background-color: #8d8a8a86;
   
    margin:0 auto;
    padding:15px; 
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
}

.feedback__wrap {
    width: auto;
}

/* Popup */
.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    margin-left: 120px;
}

.popup {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    height: 450px;
}

.button-popup {
    margin: 10px;
}

.popup__title {
    padding-top: 50px;
    margin-left: 120px;
}

.popup__close {
    background-color: #037E8C;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

/* Booking */

.booking__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: 120px;
}

.booking {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 650px;

    margin-top: 90px;
}

.form__button {
    margin: 10px;
}

.booking__title {
    margin-left: 120px;
    padding-top: 50px;
}

.booking__close {
    background-color: #037E8C;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

/* scroll-up */
.scroll-up {
    position: fixed;
    right: 50px;
    bottom: -70px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;

    background-color: #ffffff;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);

    border-radius: 5px;
    border: none;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    z-index: 1;

    cursor: pointer;

    transition: background-color 0.4s, bottom 0.4s linear, opacity 0.4s, visibility 0.4s;
}

.scroll-up:hover,
.scroll-up:focus {
    background-color: #037E8C;
}

.scroll-up--show {
    bottom: 115px;

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}